<footer>
    <div class="f-info">
        <div class="f-info-social">
            <a href="https://github.com/NilayKantharia/StayVista" style="color: black;"><i class="fa-brands fa-square-facebook"></i></a>
            <a href="https://github.com/NilayKantharia/StayVista" style="color: black;"><i class="fa-brands fa-square-instagram"></i></a>
            <a href="https://github.com/NilayKantharia/StayVista" style="color: black;"><i class="fa-brands fa-linkedin"></i></a>
            <a href="https://github.com/NilayKantharia/StayVista" style="color: black;"><i class="fa-brands fa-github"></i></i></a>
        </div>
        <div class="f-info-brand">&copy; StayVista Private Limited</div>
        <div class="f-info-links">
            <a href="/privacy">Privacy</a>
            <a href="/terms">Terms</a>
        </div>
    </div>
</footer>